/*角色基本外观*/
.player {
	height: 180px;
	width: 120px;
	border-radius: 8px;
	box-shadow: 0px -1px 3px black, 0px 3px 8px black;
	background-image: linear-gradient(rgb(53, 38, 32), rgb(53, 38, 32));
	transition-property: transform, opacity, left, top, right, bottom;
}

.dui-mobile .player {
	box-shadow: 0px -1px 2px black, 0px 1px 5px black;
}

.player.dead {
	animation: player-died 0.5s linear;
	-webkit-animation: player-died 0.5s linear;
	animation-iteration-count: 1;
}



.player::before {
	/* left: -15px; */
	/* top: -15px; */
	/* width: calc(100% + 30px); */
	/* height: calc(100% + 30px); */
	/* border-width: 15px; */
	/* border-style: solid; */
	/* border-color: transparent; */
	/* border-image-source: url('assets/image/glow_blue.png'); */
	/* border-image-slice: 42 46 32 46 fill; */
	/* box-sizing: border-box; */
	left: -55px;
	top: -42px;
	width: 230px;
	height: 262px;
	opacity: 0;
	background-image: url('assets/image/sprites_glow_blue.png');
	background-repeat: no-repeat;
	animation-name: kf-sprites-glow;
	animation-duration: 0s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-timing-function: steps(1);
	pointer-events: none;
	box-shadow: none;
	transition: opacity 0.1s linear;
}

.player.selected:not(.target):before,
.player.glow_phase:not(.selectable):not(*[data-position='0'])::before {
	/* border-image-source: url('assets/image/glow_orange.png'); */
	animation-duration: 0.9s;
	background-image: url('assets/image/sprites_glow_orange.png');
	opacity: 1;
}

.player.selectable:not(.selected):not(.target)::before {
	animation-duration: 0.9s;
	opacity: 1;
}

.player::after,
.player.selected::after,
.player.selectable::after {
	/* left: -15px; */
	/* top: -15px; */
	/* width: calc(100% + 30px); */
	/* height: calc(100% + 30px); */
	/* border-width: 15px; */
	/* border-style: solid; */
	/* border-color: transparent; */
	/* border-image-source: url('assets/image/glow_red.png'); */
	/* border-image-slice: 42 46 32 46 fill; */
	/* box-sizing: border-box; */
	left: -55px;
	top: -42px;
	width: 230px;
	height: 262px;
	opacity: 0;
	background-image: url('assets/image/sprites_glow_red.png');
	background-repeat: no-repeat;
	animation-name: kf-sprites-glow;
	animation-duration: 0s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-timing-function: steps(1);
	pointer-events: none;
	box-shadow: none;
	transition: opacity 0.1s linear;
}

.player.target:not(.glow_phase):not(.selectable):not(.selected)::after {
	animation-duration: 0.9s;
	opacity: 1;
}


#arena>.player {
	z-index: 4;
}

.player>.mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background: rgba(0, 0, 0, 0.65);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	pointer-events: none;
	z-index: 66;
}

.player.un-selectable:not(.selectable)>.mask {
	opacity: 1;
	transition: opacity 0.3s linear;
}

#arena:not(.fewplayer)>.player:not(.minskin),
#arena:not(.fewplayer):not(*[data-player_height=''])>.player:not(.minskin) {
	height: 180px !important;
}


/*玩家锁链*/
.player>.chain {
	top: 40%;
	height: 24px;
	visibility: hidden;
	background-size: cover;
	background-position-x: -120px;
	background-repeat: no-repeat;
	background-image: url('assets/image/tie_suo.png');
	transition-duration: 0.4s;
	z-index: 86;
}

.player.linked2>.chain {
	visibility: visible;
	background-position-x: center;
}

/*主玩家位置*/
.player[data-position='0'],
#arena>.player[data-position='0'],
#arena>.player[data-position='0']:not(.minskin),
#arena:not(*[data-player_height=''])>.player[data-position='0'],
#arena:not(*[data-player_height=''])>.player[data-position='0']:not(.miniskin) {
	left: -2px;
	top: auto;
	right: auto;
	bottom: 1%;
}

#arena[data-right-layout='on']>.player[data-position='0'],
#arena[data-right-layout='on']>.player[data-position='0']:not(.miniskin) {
	left: auto;
	right: 0;
}

/*玩家姓名阵营*/
.player>.camp-wrap {
	display: block;
	left: -19px;
	top: -9px;
	width: 37px;
	height: 128px;
	transition: none;
	z-index: 88;
}

.player.connect>div:not(.avatar):not(.name):not(.nameol):not(.hp):not(.room):not(.gaming):not(.identity).camp-wrap {
	display: block !important;
}

.player>.camp-wrap div {
	transition: none;
}

.player>.camp-wrap>.camp-back {
	background: linear-gradient(to bottom, rgb(155, 129, 108), rgb(73, 71, 58));
	clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0% 90%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0% 90%);
}

.player.unseen>.camp-wrap>.camp-back {
	background: linear-gradient(to bottom, rgb(92, 35, 22), rgb(50, 27, 26));
}

.player>.camp-wrap[data-camp='wei']>.camp-back {
	background: linear-gradient(to bottom, rgb(45, 103, 153), rgb(19, 45, 78));
}

.player>.camp-wrap[data-camp='shu']>.camp-back {
	background: linear-gradient(to bottom, rgb(153, 28, 34), rgb(57, 12, 17));
}

.player>.camp-wrap[data-camp='wu']>.camp-back {
	background: linear-gradient(to bottom, rgb(29, 114, 29), rgb(34, 42, 27));
}

.player>.camp-wrap[data-camp='qun']>.camp-back {
	background: linear-gradient(to bottom, rgb(154, 148, 122), rgb(74, 72, 57));
}

.player>.camp-wrap[data-camp='shen']>.camp-back {
	background: linear-gradient(to bottom, rgb(97, 87, 15), rgb(65, 50, 9), rgb(67, 52, 9));
}

.player>.camp-wrap[data-camp='shen2']>.camp-back {
	background: linear-gradient(to bottom, rgb(112, 52, 126), rgb(52, 18, 55));
}

.player>.camp-wrap[data-camp='ye']>.camp-back {
	background: linear-gradient(to bottom, rgb(112, 52, 126), rgb(52, 18, 55));
}

.player>.camp-wrap[data-camp='key']>.camp-back {
	background: linear-gradient(to bottom, rgb(147, 132, 183), rgb(130, 120, 160), rgb(120, 115, 154));
}

.player>.camp-wrap[data-camp='western']>.camp-back {
	background: linear-gradient(to bottom, rgb(93, 44, 105), rgb(54, 18, 58));
}

.player>.camp-wrap[data-camp='jin']>.camp-back {
	background: linear-gradient(to bottom, rgb(112, 52, 126), rgb(52, 18, 55));
}

.player>.camp-wrap[data-camp='han']>.camp-back {
	background: linear-gradient(to bottom, rgb(112, 52, 126), rgb(52, 18, 55));
}

.player>.camp-wrap[data-camp='daqin']>.camp-back {
	background: linear-gradient(to bottom, rgb(100, 100, 100), rgb(0, 0, 0));
}

.player>.camp-wrap[data-camp='ming']>.camp-back {
	background: linear-gradient(to bottom, rgb(153, 28, 34), rgb(57, 12, 17));
}

.player>.camp-wrap[data-camp='yao']>.camp-back {
	background: linear-gradient(to bottom, rgb(144, 0, 0), rgb(17, 73, 132));
}

.player>.camp-wrap[data-camp='xin']>.camp-back {
	background: linear-gradient(to bottom, rgb(112, 52, 126), rgb(52, 18, 55));
}

.player>.camp-wrap>.camp-border {
	display: block;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url('image/decoration/border_camp.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

#arena.decadeUI[data-border-level='one'] .player>.camp-wrap>.camp-border {
	background-image: url('image/decoration/border_camp1.png');
}

#arena.decadeUI[data-border-level='two'] .player>.camp-wrap>.camp-border {
	background-image: url('image/decoration/border_camp2.png');
}

#arena.decadeUI[data-border-level='three'] .player>.camp-wrap>.camp-border {
	background-image: url('image/decoration/border_camp3.png');
}

#arena.decadeUI[data-border-level='four'] .player>.camp-wrap>.camp-border {
	background-image: url('image/decoration/border_camp4.png');
}

.player>.camp-wrap>.avatar-name,
.player>.camp-wrap>.avatar-name-default,
.player>.camp-wrap>.camp-back {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	font-size: 16px;
	text-align: center;
	text-shadow: none;
	/*#000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;*/
	left: 26%;
	top: 24%;
	right: 26%;
	bottom: 1%;
	position: absolute;
}

.player.unseen>.camp-wrap>.avatar-name,
.player:not(.unseen)>.camp-wrap>.avatar-name-default,
.player:not(.unseen2)>.camp-wrap>.avatar2-name-default {
	visibility: hidden;
}

.player>.camp-wrap>.camp-name {
	font-family: xinwei, xingkai;
	font-display: swap;
	font-size: 26px;
	width: 100%;
	height: 33.5%;
	display: flex;
	text-align: center;
	align-items: center;
	align-content: center;
	justify-content: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transition: none;
}

.player>.camp-wrap[data-camp='wei']>.camp-name {
	text-shadow: 0 0 5px rgb(50, 50, 255), 0 0 10px rgb(120, 120, 255), 0 0 15px rgb(100, 100, 255);
}

.player>.camp-wrap[data-camp='shu']>.camp-name {
	text-shadow: 0 0 5px rgb(255, 100, 100), 0 0 10px rgb(255, 50, 50), 0 0 15px rgb(255, 50, 50);
}

.player>.camp-wrap[data-camp='wu']>.camp-name {
	text-shadow: 0 0 5px rgb(100, 233, 100), 0 0 10px rgb(50, 255, 50), 0 0 15px rgb(50, 255, 50);
}

.player>.camp-wrap[data-camp='qun']>.camp-name {
	text-shadow: 0 0 5px rgb(170, 170, 170), 0 0 10px rgb(118, 118, 118), 0 0 15px rgb(118, 118, 118);
}

.player>.camp-wrap[data-camp='shen']>.camp-name {
	text-shadow: 0 0 5px rgb(255, 200, 0), 0 0 10px rgb(255, 200, 0), 0 0 15px rgb(255, 200, 0);
}

.player>.camp-wrap>.camp-name {
	text-shadow: 0 0 5px #e0ea33, 0 0 15px #e0ea33, 0 0 25px #e0ea33;
}

.player>.name.name2,
#arena>.player:not(.minskin)>.name.name2 {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	left: 50% !important;
	right: auto;
	top: 22px;
	width: 18px;
	height: 96px;
	font-size: 16px;
	text-shadow: none;
	/*#000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;*/
	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 20%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.4) 80%, transparent 100%);
	z-index: 89;
}

.player>.name.name2:empty,
#arena>.player:not(.minskin)>.name.name2:empty {
	display: none;
}

.player.fullskin.fullskin2>.name.name2:empty::before {
	content: '副将';
}

/*联机名称显示*/
.player>.nameol {
	top: 5px;
	font-size: 16px;
	font-family: 'shousha';
	text-shadow: 0 0 2px black;
	background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);
	z-index: 89;
	pointer-events: none;
}

/*玩家血量显示*/
.player>.hp-wrap {
	display: block;
	right: -2px;
	bottom: -5px;
	width: 12px;
	height: 50px;
	border-width: 24px 5px 21px 82px;
	border-style: solid;
	border-color: transparent;
	border-image-source: url('image/decoration/border_hp.png');
	border-image-slice: 32 6 25 113 fill;
	pointer-events: none;
	transition-property: transform, opacity, height;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	z-index: 88;
}

.player[data-max-hp='1']>.hp-wrap {
	height: 5px;
}

.player[data-max-hp='2']>.hp-wrap {
	height: 20px;
}

.player[data-max-hp='3']>.hp-wrap {
	height: 35px;
}

.player[data-max-hp='5']>.hp-wrap {
	height: 65px;
}

.player.connect>div:not(.avatar):not(.name):not(.nameol):not(.hp):not(.room):not(.gaming):not(.identity).hp-wrap {
	display: block !important;
}

#arena.decadeUI[data-border-level='one'] .player>.hp-wrap {
	border-image-source: url('image/decoration/border_hp1.png');
}

#arena.decadeUI[data-border-level='two'] .player>.hp-wrap {
	border-image-source: url('image/decoration/border_hp2.png');
}

#arena.decadeUI[data-border-level='three'] .player>.hp-wrap {
	border-image-source: url('image/decoration/border_hp3.png');
}

#arena.decadeUI[data-border-level='four'] .player>.hp-wrap {
	border-image-source: url('image/decoration/border_hp4.png');
}

.player>.hp-wrap>.hp,
#arena.slim_player .player .hp,
#window>.player:not(.minskin) .hp {
	display: flex;
	left: 0;
	right: 0;
	width: 12px;
	bottom: -8px;
	font-size: 13px;
	line-height: 14px;
	flex-direction: column-reverse;
}

.player>.hp-wrap>.hp.textstyle {
	flex-direction: column;
}

.player>.hp-wrap>.hp.hidden {
	opacity: 1 !important;
}

.player>.hp-wrap>.hp>div:not(.shield) {
	position: static;
	margin-top: 3px;
	width: 12px;
	height: 12px;
	line-height: 100%;
	border: none;
}

.hp:not(.text):not(.actcount):not(.treasure)>.lost,
.hp:not(.text):not(.actcount):not(.treasure)[data-condition="mid"]>div:not(.lost),
.hp:not(.text):not(.actcount):not(.treasure)[data-condition="high"]>div:not(.lost),
.hp:not(.text):not(.actcount):not(.treasure)[data-condition="low"]>div:not(.lost) {
	transform: none !important;
}

/*武将牌显示*/
.player>.primary-avatar {
	left: 0;
	top: auto;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 8px;
	transition-property: opacity, transform;
	z-index: 61;
}

.player.connect>div:not(.avatar):not(.name):not(.nameol):not(.hp):not(.room):not(.gaming):not(.identity).primary-avatar {
	display: block !important;
}

.player.fullskin2>.primary-avatar {
	width: 50%;
	border-radius: 8px 0 0 8px;
}

.player.bossplayer>.primary-avatar:not(.hp):not(.identity):not(.avatar):not(.framebg) {
	display: block !important;
}

.player>.deputy-avatar {
	left: 50%;
	top: auto;
	bottom: 0;
	width: 50%;
	height: 100%;
	opacity: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 0 8px 8px 0;
	transition-property: opacity, transform;
	z-index: 61;
}

.player.unseen>.primary-avatar,
.player.unseen2>.deputy-avatar,
.player.d-skin>.primary-avatar,
.player.d-skin2>.deputy-avatar {
	opacity: 0 !important;
}

.player.unseen>.dynamic-wrap,
.player.unseen2>.dynamic-wrap {
	opacity: 0;
}

#arena:not(.observe)>.player[data-position='0'].unseen>.primary-avatar,
#arena:not(.observe)>.player[data-position='0'].unseen2>.deputy-avatar,
#arena:not(.observe)>.player[data-position='0'].unseen>.dynamic-wrap,
#arena:not(.observe)>.player[data-position='0'].unseen2>.dynamic-wrap {
	opacity: 0.3;
}

#arena[data-outcrop-skin='on']>.player>.primary-avatar {
	height: 192px;
	clip-path: url(#solo-clip);
	-webkit-clip-path: url(#solo-clip);
}

#arena[data-outcrop-skin='on']>.player>.deputy-avatar {
	height: 192px;
	clip-path: url(#duor-clip);
	-webkit-clip-path: url(#duor-clip);
}

#arena[data-outcrop-skin='on']>.player.fullskin2>.primary-avatar {
	clip-path: url(#duol-clip);
	-webkit-clip-path: url(#duol-clip);
}

/*武将牌动皮显示*/
.player>.dynamic-wrap {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-size: cover;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: 60;
}

.player>.dynamic-wrap>.animation-player {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	pointer-events: none;
	clip-path: inset(0 0 0 0 round 8px);
	-webkit-clip-path: inset(0 0 0 0 round 8px);
}

#arena[data-dynamic-skin-outcrop='on']>.player>.dynamic-wrap>.animation-player {
	clip-path: url(#dskin-clip);
	-webkit-clip-path: url(#dskin-clip);
	height: 200px;
}

.player>.dynamic-wrap>.primary-bg,
.player>.dynamic-wrap>.deputy-bg {
	left: 0;
	top: auto;
	bottom: 0;
	width: 50%;
	height: 100%;
	opacity: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	border-radius: 8px 0 0 8px;
	transition-property: opacity, transform;
}

.player>.dynamic-wrap>.deputy-bg {
	left: 50%;
}

.player.d-skin>.dynamic-wrap>.primary-bg,
.player.d-skin2>.dynamic-wrap>.deputy-bg {
	opacity: 1;
}

#arena:not(.observe)>.player[data-position='0'].unseen.d-skin>.dynamic-wrap>.primary-bg,
#arena:not(.observe)>.player[data-position='0'].unseen2.d-skin2>.dynamic-wrap>.deputy-bg {
	opacity: 0.3;
}



#window:not(*[data-radius_size='']) .player {
	border-radius: 8px;
}

/*行动*/
.player>.primary-avatar>.action {
	display: block;
	position: absolute;
	left: 0;
	top: auto;
	right: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
	text-align: center;
}


/*玩家标记显示-灯笼*/
.player>.dui-marks {
	display: flex;
	flex-direction: column;
	left: auto;
	top: 1px;
	right: -20px;
	width: 18px;
	height: auto;
	padding-bottom: 0;
	z-index: 88;
	transition-property: opacity, transform, background;
}

.player>.dui-marks>.mark {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: relative;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 5px;
	width: 18px;
	height: auto;
	border-radius: 0;
	font-family: xinwei, xingkai;
	box-shadow: none;
	background: none;
	overflow: visible;
	animation: open 0.5s;
}

.player>.dui-marks>.mark:before,
.player>.dui-marks>.mark:after {
	display: none;
}

.player>.dui-marks>.mark>.mark-text {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: relative;
	padding-top: 3px;
	padding-bottom: 3px;
	width: 17px;
	height: auto;
	min-height: 16px;
	line-height: 16px;
	text-align: center;
	font-size: 20px;
	font-family: xinwei, xingkai;
	color: rgb(77, 60, 51);
	border-radius: 5px;
	background-image: radial-gradient(rgb(255, 255, 200) 0, rgb(255, 255, 120) 50%, rgb(255, 255, 10) 80%, yellow 100%);
	box-shadow: 0 0 1px yellow;
	text-shadow: none;
	animation: swing 1.5s alternate infinite ease-in-out;
}

.player>.dui-marks>.mark>.mark-text.small-text {
	font-size: 14px;
	line-height: 11px;
}

.player>.dui-marks>.mark>.mark-text::before {
	content: '';
	display: block;
	position: absolute;
	left: 30%;
	top: -1px;
	width: 40%;
	height: calc(100% + 3px);
	border-top: 1px solid black;
	border-bottom: 2px solid #FF9900;
	box-sizing: border-box;
}

.player>.dui-marks>.mark>.mark-text.before-hidden::before {
	display: none;
}

.player>.dui-marks>.mark>.mark-count {
	position: absolute;
	left: auto;
	top: -2px;
	right: -5px;
	bottom: auto;
	height: 10px;
	width: 10px;
	line-height: 11px;
	font-size: 11px;
	font-weight: bold;
	text-shadow: none;
	text-align: center;
	border-radius: 100%;
	background: yellow;
	box-shadow: 0 0 1px black inset;
}

.player>.dui-marks>.mark>.image {
	display: none;
}

#arena[data-player-mark-style='red']>.player>.dui-marks>.mark>.mark-text {
	color: yellow;
	text-shadow: 0 0 1px black, 0 0 1px black;
	box-shadow: 0 0 1px yellow;
	background-image: radial-gradient(rgb(100, 255, 100), rgb(255, 120, 0), rgb(255, 0, 0));
}

#arena[data-player-mark-style='red']>.player>.dui-marks>.mark>.mark-count {
	color: #c86400;
	background: #ffdc00;
}

/*玩家标记显示-新样式*/
#arena[data-player-mark-style="decade"]>.player>.dui-marks {
	left: auto;
	top: 34px;
	right: -3px;
	width: auto;
	max-width: 80px;
}

#arena[data-player-mark-style="decade"]>.player>.dui-marks>.mark {
	display: flex;
	width: 40px;
	height: 18px;
	white-space: nowrap;
	background-image: url('assets/image/player_mark.png');
	animation: fade-in 0.5s;
	margin-bottom: 1px;
}

#arena[data-player-mark-style="decade"]>.player>.dui-marks>.mark>.mark-text {
	display: inline;
	position: static;
	border-radius: 0;
	width: auto;
	height: auto;
	line-height: 18px;
	font-size: 11px;
	color: white;
	background-image: none;
	box-shadow: none;
	animation: none;
}

#arena[data-player-mark-style="decade"]>.player>.dui-marks>.mark>.mark-text::before {
	display: none;
}

#arena[data-player-mark-style="decade"]>.player>.dui-marks>.mark>.mark-count {
	display: inline;
	position: static;
	padding-top: 3px;
	padding-bottom: 3px;
	width: auto;
	height: auto;
	line-height: 18px;
	border-radius: 0;
	font-size: 11px;
	font-weight: inherit;
	color: white;
	text-shadow: none;
	background: none;
	box-shadow: none;
}

.mark-container.marks>.mark {
	overflow: visible;
}

.mark-container.marks>.mark>.mark-text {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: black;
	font-size: 20px;
}

.mark-container.marks>.mark>.mark-count {
	display: block;
	position: absolute;
	right: -5px;
	width: 15px;
	background: white;
	border-radius: 4px;
}

/*玩家判断标记显示*/
.player>.judges,
#arena>.player:not(.minskin)>.judges {
	display: flex;
	justify-content: flex-end;
	left: auto;
	right: -1%;
	top: auto;
	bottom: -1%;
	width: auto;
	height: 0;
	padding-bottom: 0;
	z-index: 88;
}

.player[data-position='0']>.judges,
#arena>.player[data-position='0']:not(.minskin)>.judges {
	top: -24px;
	bottom: auto;
}

.player>.judges>.card,
#window:not(.nopointer) .player .judges>.card {
	position: static;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	margin: 4px;
	width: 16px;
	height: 16px;
	opacity: 1;
	box-shadow: none;
	background: none !important;
	transform: none;
	overflow: visible;
}

.player>.judges>.card>.image {
	display: none;
}


.player>.judges>.card>.judge-mark {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.player>.judges>.card>.judge-mark>.back {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgb(240, 220, 160);
	transition: none;
	transform: rotate(45deg);
	border-radius: 4px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.4), 0 0 8px rgba(0, 0, 0, 0.8);
	z-index: -1;
}

.player>.judges>.card>.judge-mark>.back::before {
	display: block;
	position: absolute;
	content: '';
	background: rgb(240, 220, 160);
	left: 12%;
	top: 12%;
	right: 12%;
	bottom: 12%;
	border-radius: 2px;
	box-shadow: 0 0 1px black;
	z-index: -1;
}

.player>.judges>.card>.judge-mark>div:not(.back) .player>.judges>.card>.judge-mark>div:not(.judge) {
	display: none;
}

.player>.judges>.card>.judge-mark>.judge {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-family: xinwei, xingkai;
	font-size: 16px;
	color: white;
	text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0, 0 0 8px #000;
}

.player>.judges>.card.feichu>.judge-mark>.judge::before {
	content: '废';
}

.player>.judges>.card>.background,
.judges>.card.fakejudge.fullskin>.background,
.judges>.card.fakejudge.fullborder>.background {
	display: none !important;
}

/*玩家号位显示*/
.player>.seat {
	display: block;
	position: absolute;
	bottom: -16px;
	width: 100%;
	line-height: 16px;
	color: rgb(255, 245, 223);
	font-family: 'shousha';
	font-size: 16px;
	text-align: center;
	text-shadow: 0 0 2px black, 0 0 1px black;
	white-space: nowrap;
	z-index: 89;
	pointer-events: none;
}

.player[data-position='0']>.seat {
	bottom: -10px;
}

.player>.name_seat {
	display: none !important;
}


/*玩家手牌数显示*/
.player>.card-count {
	position: absolute;
	top: auto;
	right: auto;
	left: -12px;
	bottom: -6px;
	line-height: 28px;
	height: 28px;
	width: 28px;
	background: url("image/decoration/card_count.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 -1px;
	border: none;
	box-shadow: none;
	font-size: 19px;
	font-family: xinwei, xingkai;
	color: white;
	text-align: center;
	text-shadow: none;
	border-radius: 0px;
	z-index: 88;
	transition: transform, opacity;
}

.player>.card-count::before {
	content: attr(data-text);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	line-height: 28px;
	color: transparent;
	-webkit-text-stroke: 2px black;
	z-index: -1;
}


/*玩家身份标记*/
.player>.identity,
#arena>.player:not(.minskin)>.identity {
	left: auto;
	top: 1px;
	right: 1px;
	width: 29px;
	height: 31px;
	line-height: 31px;
	font-size: 31px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 89;
	transform: none;
	transition: none;
}

.player>.identity[data-color='rYe'] {
	text-shadow: rgba(255, 120, 0, 1) 0 0 2px, rgba(255, 120, 0, 1) 0 0 5px, rgba(255, 120, 0, 1) 0 0 10px,
		rgba(255, 120, 0, 1) 0 0 10px, rgba(255, 120, 0, 1) 0 0 20px, rgba(255, 120, 0, 1) 0 0 20px, black 0 0 1px;
}


.player>.identity[data-color='bYe'],
.player.opposite-camp>.identity {
	text-shadow: 0 0 1px black, 0 0 5px blue, 0 0 10px rgb(100, 100, 250), 0 0 20px rgb(100, 100, 250), 0 0 20px white;
}

.player>.identity>div:first-child {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	font-size: 31px;
	line-height: 31px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.player>.identity.guozhan-mode,
#arena>.player:not(.minskin)>.identity.guozhan-mode {
	left: -20px;
	top: -9px;
	width: 37px;
	height: 42px;
}


/*人物弹出文字*/
.player>.damage {
	width: 100%;
	text-shadow: none;
	transition: none;
	z-index: 89;
}

.player>.damage::before {
	content: attr(data-text);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	color: transparent;
	-webkit-text-stroke: 4px #803B02;
	z-index: -1;
}

/* .player>.damage[data-nature='metal']::before { */
/* -webkit-text-stroke: 4px #FFCB00; */
/* } */
/* .player>.damage[data-nature='wood']::before { */
/* -webkit-text-stroke: 4px #5D832C; */
/* } */
/* .player>.damage[data-nature='water']::before { */
/* -webkit-text-stroke: 4px #355CA1; */
/* } */
/* .player>.damage[data-nature='fire']::before { */
/* -webkit-text-stroke: 4px #EE7F01; */
/* } */
/* .player>.damage[data-nature='soil']::before { */
/* -webkit-text-stroke: 4px #803B02; */
/* } */
/* .player>.damage[data-nature='thunder']::before { */
/* -webkit-text-stroke: 4px #644A8B; */
/* } */




/*联机用牌时限*/
.player>.timerbar {
	display: block;
	position: absolute;
	left: 0;
	top: auto;
	bottom: -10px;
	width: 100%;
	z-index: 88;
}

.player[data-position='0']>.timerbar {
	top: -15px;
	bottom: auto;
}

.player>.timerbar>div,
#arena .timerbar>div {
	position: absolute;
	left: calc(50% - 50px);
	top: auto !important;
	right: auto;
	width: 100px;
	height: 5px;
}

.player>.timerbar>div:first-child {
	box-shadow: 0 0 4px yellow;
	background: rgb(100, 0, 0);
}

/*联机游戏等待中*/
.player.connect>.gaming {
	display: block;
	position: absolute;
	left: 0;
	top: calc(50% - 16px);
	width: 100%;
	height: 32px;
	font-size: 32px;
	font-family: 'xinwei';
	text-align: center;
	z-index: 89;
}


/*玩家死亡变灰*/
.player.dead {
	opacity: 1;
	filter: none;
	-webkit-filter: none;
}

.player.dead>div {
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}

/*玩家死亡文字*/
.player>.died-identity {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	left: calc(50% - 47px);
	top: auto;
	bottom: 15px;
	width: 88px;
	height: 88px;
	line-height: 38px;
	color: rgb(210, 50, 50);
	font-size: 38px;
	font-family: xingkai, huangcao, xinwei;
	font-display: swap;
	text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	transform: none;
	opacity: 0;
	z-index: 61;
}

.player.opposite-camp>.died-identity {
	color: rgb(50, 50, 210);
}

.player.dead>.died-identity {
	filter: none;
	-webkit-filter: none;
	animation: fade-in 0.5s forwards;
	animation-delay: 0.5s;
	-webkit-animation: fade-in 0.5s forwards;
	-webkit-animation-delay: 0.5s;
}

/*玩家获得的技能显示*/
.player>.gain-skill {
	position: absolute;
	left: 15px;
	right: 15px;
	max-height: calc(97% - 81px);
	bottom: calc(3% + 81px);
	color: rgb(255, 255, 200);
	font-size: 13px;
	text-align: center;
	background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.4) 60%, transparent 100%);
	z-index: 87;
}

#arena.decadeUI[data-gain-skills-visible='off']>.player>.gain-skill,
#arena.decadeUI[data-gain-skills-visible='othersOn']>.player[data-position='0']>.gain-skill {
	display: none;
}

/*角色翻面背景*/
.player>.turned-over {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image: url('assets/image/turn_over_mask.png');
	background-size: cover;
	pointer-events: none;
	z-index: 62;
}

.player.turnedover>.turned-over {
	opacity: 0.8;
}

.turnedover>div {
	opacity: initial;
}

/*角色边框*/
.player>.framebg {
	z-index: 63;
}

/*身份标记框*/
.player>.identity-mark-box {
	display: flex;
	position: absolute;
	justify-content: center;
	flex-wrap: wrap;
	top: 20%;
	left: 16%;
	width: 68%;
	height: auto;
	z-index: 99;
}

.player>.identity-mark-box>.identity-mark-item {
	position: static;
	width: auto;
	height: auto;
	min-width: 20px;
	line-height: 20px;
	border-style: solid;
	border-width: 10px;
	border-image-width: 18px;
	border-image-slice: 31 31 fill;
	border-image-source: url('assets/image/item_bg.png');
	cursor: pointer;
	color: rgb(77, 60, 51);
	font-family: shousha;
	font-weight: bold;
	font-size: 20px;
	text-shadow: none;
	transition: opacity, background, transform 0.3s;
}

.player>.identity-mark-box>.identity-mark-item:active {
	transform: scale(0.9);
}

/*说话泡泡框*/
.player>.chat-bubble {
	left: 0;
	top: 20px;
	width: 100%;
	height: auto;
	border-style: solid;
	border-width: 6px 6px 14px 6px;
	border-image-slice: 6 6 14 6 fill;
	border-image-source: url('assets/image/chat_bubble.png');
	box-sizing: border-box;
	word-break: break-all;
	z-index: 99;
}

.player.connect>div:not(.avatar):not(.name):not(.nameol):not(.hp):not(.room):not(.gaming):not(.identity).chat-bubble {
	display: block !important;
}

.player>.jie-mark {
	position: absolute;
	top: 108px;
	left: -11px;
	width: 22px;
	height: 34px;
	background-image: url('assets/image/mark_jie.png');
	background-size: 100% 100%;
	pointer-events: none;
	z-index: 87;
}